build/bin/
build/tmp/
build/devices/esp32/xsProj/sdkconfig.defaults.prior
build/devices/esp32/xsProj/sdkconfig.mc
build/devices/esp32/xsProj/sdkconfig.old
build/devices/esp32/xsProj/build
build/devices/esp32/xsProj-esp32/sdkconfig.defaults.prior
build/devices/esp32/xsProj-esp32/sdkconfig.mc
build/devices/esp32/xsProj-esp32/sdkconfig.old
build/devices/esp32/xsProj-esp32/build
build/devices/esp32/xsProj-esp32s2/sdkconfig.defaults.prior
build/devices/esp32/xsProj-esp32s2/sdkconfig.mc
build/devices/esp32/xsProj-esp32s2/sdkconfig.old
build/devices/esp32/xsProj-esp32s2/build
build/devices/esp32/sdkconfig-s2-psram/sdkconfig.old
build/devices/esp32/sdkconfig-s2-psram/sdkconfig.defaults.prior
libraries/esp/
.DS_Store
.idea/
build/devices/qca4020/xsProj/build/gcc/app.*
build/devices/qca4020/xsProj/build/gcc/dbg.*
build/devices/qca4020/xsProj/build/gcc/dictLog
build/devices/qca4020/xsProj/build/gcc/output/

contributed/hello-aquestalk/AKR168.o
contributed/hello-aquestalk/AKR169.o
contributed/hello-aquestalk/AKR170.o
contributed/hello-aquestalk/AKR171.o
contributed/hello-aquestalk/AKR172.o
contributed/hello-aquestalk/AKR173.o
contributed/hello-aquestalk/AKR174.o
contributed/hello-aquestalk/AKR175.o
contributed/hello-aquestalk/AKR176.o
contributed/hello-aquestalk/AKR177.o
contributed/hello-aquestalk/AKR178.o
contributed/hello-aquestalk/AKR179.o
contributed/hello-aquestalk/AKR180.o
contributed/hello-aquestalk/AKR181.o
contributed/hello-aquestalk/AKR182.o
contributed/hello-aquestalk/AKR183.o
contributed/hello-aquestalk/AKR184.o
contributed/hello-aquestalk/AKR185.o
contributed/hello-aquestalk/AKR186.o
contributed/hello-aquestalk/AKR187.o
contributed/hello-aquestalk/AQR004.o
contributed/hello-aquestalk/aquestalk.h
contributed/hello-aquestalk/ATP192.o
contributed/hello-aquestalk/ATP193.o
contributed/hello-aquestalk/ATP194.o
contributed/hello-aquestalk/ATP195.o
contributed/hello-aquestalk/ATP196.o
contributed/hello-aquestalk/ATP197.o
contributed/hello-aquestalk/ATP198.o
contributed/hello-aquestalk/ATP199.o
contributed/hello-aquestalk/ATP200.o
contributed/hello-aquestalk/ATP201.o
contributed/hello-aquestalk/ATP202.o
contributed/hello-aquestalk/ATP203.o
contributed/hello-aquestalk/libaquestalk.a
